langchain==0.2.9
langchain_community==0.2.7
langchain_ollama
langchain_openai
langgraph==0.1.8
langchain_nomic
python-dotenv==1.0.1
qdrant_client==1.10.1
ollama
PyGithub
GitPython
duckduckgo-search
langchainhub
uvicorn